.container {
  display: flex;
  flex-direction:row;
  align-items: stretch;
  height:100vh;
}

.form_container {
  flex: 0 0 320px;

}

.right_container {
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  min-height:500px;
}

.details_container {
  flex: 1 0 200px;
}